@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .grid-rows-custom {
      grid-template-rows: 14dvh 45dvh 7dvh;
    }
    .dh-screen {
        height: 100dvh;
      }   
  }

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color:#A7B5B5;
  } 
}
  
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color:black;
  } 
}
  

html{
    font-size: clamp(62.5%, 1vw, 16px);
    overflow-y: scroll 
  }
    

  
/* Ban cell */
  .empty-cell::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  
  
  /* This CSS disables hover styles for any device which supports touch */
  @media (hover: none) {
    .hover\:bg-buttonsGrey:hover {
      background-color: inherit !important;
    }
  }
  
  /* Glow effect on role buttons */
  .glowSelect {
    box-shadow:inset 0 -10px 10px -10px #C7AA6E;
  }

  .glow:hover {
    box-shadow: inset 0 -10px 10px -10px #C7AA6E; 
}